## Week1
Week1/Sandbox/

## Week2
Week2/Sandbox/

## Week3
Week3/Sandbox/

## Week7
Week7/Sandbox/

## Miniproject
Miniproject/Lectures/
Miniproject/Reading/
Miniproject/Sandbox/

## HPC
HPC2020-master/

## Maths primer
MathsPrimer.R

## C
C_stuff/
